@keyframes wave {
  25%{
    transform: translateX(-37.5%) translateY(3%);
  }
  50%{
    transform: translateX(-25%) translateY(0);
  }
  75%{
    transform: translateX(-12.5%) translateY(3%);
  }
  100%{
    transform: translateX(0) translateY(0);
  }
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html, body{
  width: 100%;
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background: #fafafa;
  font-size: 100px;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

.container{
  margin: auto;
  flex: 0.5 0 400px;
  width: 60%;
  box-shadow: 0 0 25px rgba(0,0,0,.3);
  #fluid{
    width: 100%;
    height: auto;
    display: block;
    //border: 1px solid royalblue;


    #waves-bottom{
      stroke: none;
      fill:url(#linear);
      transform: translateX(-50%) translateY(0);
      animation: wave 5s infinite linear;
    }
  }
}