//css variable for overriding use element treat linked content as one element and applying one style for each.

@keyframes wave-bottom {
  25%{
    transform: translateX(-37.5%) translateY(3%);
  }
  50%{
    transform: translateX(-25%) translateY(0);
  }
  75%{
    transform: translateX(-12.5%) translateY(3%);
  }
  100%{
    transform: translateX(0) translateY(0);
  }
}
@keyframes wave-top {
  16.66%{
    transform: translateX(-41.66%) translateY(-5%);
  }
  33.33%{
    transform: translateX(-33.33%) translateY(-8%);
  }
  50%{
    transform: translateX(-25%) translateY(-5%);
  }
  66.66%{
    transform: translateX(-16.66%) translateY(-8%);
  }
  83.33%{
    transform: translateX(-8.33%) translateY(-5%);
  }
  100%{
    transform: translateX(0) translateY(-8%);
  }
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html, body{
  width: 100%;
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background: #fafafa;
  font-size: 100px;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

.container{
  margin: auto;
  flex: 0.5 0 400px;
  width: 60%;
  box-shadow: 0 0 25px rgba(0,0,0,.3);
  #fluid{
    width: 100%;
    height: auto;
    display: block;

  }
}
#waves-bottom{
  fill:url(#sea-water-light);
  transform: translateX(-50%) translateY(0);
  //animation: wave-bottom 5s infinite linear;
}
#waves-top{
  transform: translateX(-50%) translateY(-8%);
  fill: url(#sea-water-dark);
  //animation: wave-top 7.5s infinite linear;
}

.ship{

  #hull{
    fill: url(#hull-paint);
  }
  #ribbon{
    fill: url(#metal-ribbon);
  }

}
#buoy{
   fill: none;
   stroke: #eaeaea;
   stroke-width: 20px;

 }
#stripe{
  height: 20px;
  width: 10px;
  --color-1: red;
  stroke: none;
}